/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-bottom: 20px;
}

#logo {
    display: flex;
    width: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    gap: 10px;
}

#logo img {
    height: 19px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
a {
    color: inherit;
    text-decoration: none;
}

h3 {
    font-size: 18px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* entête */
.texte {
    margin-bottom: 35px;
}

p {
    font-size: 16px;
}

/* menu de navigation */
#menu {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    padding-left: 50px;
    height: fit-content;
    gap: 68px;
}

#menu #buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: fit-content;
    height: fit-content;
    justify-content: space-between;
    gap: 68px;
}

#menu #buttons .button {
    display: flex;
    align-items: end;
    height: 35px;
}

#menu #buttons .button:hover {
    color: #0065FC;
    border-top: 1px solid var(--main-color);
}

/****** Recherche *******/
#recherche {
    gap: 35px;
}

#texte {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#zone-de-recherche form {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.label-form {
    padding: 15px;
    background-color: var(--main-bg-color);
    color: rgb(0, 0, 0);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#localisation {
    border: none;
}

.responsive-button {
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.button-icon {
    display: none;
    padding: 15px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 15px;
}

.button-icon i {
    color: white;
}

.button-text {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/****** Filtres *******/
#filtres {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.liste-filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.liste-filtres button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 19px;
    padding-right: 19px;
    gap:10px;
    border: 2px solid #D9D9D9;
    background-color: white;
    height: 50px;
    margin: 10px;
}

#filtres button:hover {
    background-color: var(--filter-bg-color);
}

/****** Hebergements And Populaires ***********/
#hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards a {
    width: 30%;
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nombre-disponibles {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nombre-disponibles i {
    border: 1px solid var(--main-bg-color);
    border-radius: 35px;
    background-color: white;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres {
        flex-direction: column;
        align-items: start;
        gap: 0px;
    }

    #hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        flex-direction: column;
    }

    .main-container {
        padding: 0 20px;
    }

    /* menu */
    #menu {
        gap: 15px;
        width:100%;
        justify-content: center;
    }

    #menu #buttons {
        width:100%;
        justify-content: center;
    }

    #menu #buttons .button {
        justify-content: center;
        align-items: start;
        width:50%;
    }

    #menu #buttons .button:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 1px solid var(--main-color);
    }

    /* recherche*/
    .button-text {
        display: none;
    }
    .button-icon {
        display: inline;
    }

    /* filtres */
    .liste-filtres {
        justify-content: center;
        width: 100%;
    }

    .liste-filtres button {
        width: 40%;
    }

    /* hebergement and populaires */
    #hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    /* hebergement */
    .hebergements-cards a {
        width: 100%;
    }

    /* populaires */
    .populaires-cards {
        flex-direction: column;
    }
    .populaires-cards a {
        width: 100%;
    }
}